@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body, html {
    background-color: #e4e5e7;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #343e5c;
}


div, img, ul, li, nav {
    font-size: 0; /*  Между инлайн-элементами образовывались пробелы */
}

.container {
    width: 1170px;
    margin: 0 auto;
}



header {
    background-color: white;
    width: 100%;
    height: 90px;
}

.header {
    /*vertical-align: middle;*/
    display: inline-block;
}

.header__menu {
    width: 62px;
    line-height: 90px;
    border-right: solid 1px #f0f2f7;
}

.header__logo img {
    margin-left: 32px;
}

.header__navigation ul {
    font-size: 0;
    margin-left: 127px;
}

.header__navigation ul li {
    font-size: 14px;
    display: inline-block;
    text-align: left;
    margin-left: 29px;

}
.header__cart a {
    font-size: 0;

}
.header__cart p {
    display: inline-block;
    /*vertical-align: top;*/
    width: 32px;
    height: 9px;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 7px;
    margin-bottom: 40px;
    margin-top: 41px;
}

.header__cart img {
    width: 18px;
    height: 17px;
    margin-top: 36px;
    margin-bottom: 37px;
    margin-left: 140px;

}
.header__number {
    width: 24px;
    height: 24px;
    border-radius: 11px;
    background-color: #e3e8f0;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 7px;
}
.header__signin {
    width: 85px;
    height: 32px;
    border-radius: 15px;
    border: 2px solid #e3e8f0;

    margin-left: 29px; /* Тут должно быть 29, но не влазит. ( в итоге нашли пробелы, убрали. но пришлось
                        все равно поставить между строк марджины 29 (в макете тоже по-разному) и 7 пробелы возле корзины*/

    text-align: center;
    font-size: 11px;
    line-height: 32px;
    text-transform: uppercase;
}
.main-menu {
    height: 56px;
    width: 100%;
    background-color: #ffffff;
    border-top: solid 1px #f0f2f7;
}
.main-menu ul {
    font-size: 0;
    display: inline-block;
    /*margin-left: 25px; !* Наверное стоит найти другое решение *!*/
}
.main-menu ul li {
    /*text-align: left;*/
    font-size: 11px;
    display: inline-block;
    margin-left: 30px;
    line-height: 56px;
    text-transform: uppercase;
    color: #b9bed1;
    letter-spacing: 0.14em;
}
.main-menu ul li:hover {
    color: #343e5c;
}
.main-menu ul .support {
    margin-left: 390px;
}
.search {
    width: 200px;
    height: 56px;
    margin-left: 32px;
    display: inline-block;
    line-height: 56px;
    border-left: solid 1px #f0f2f7;
    border-right: solid 1px #f0f2f7;
}
.search p {
    color: #a1a8bd;
    font-size: 14px;
    display: inline-block;
    margin-left: 13px;
}
.search img {
    margin-left: 21px;
}
.banner {
    background-color: #1c1e23;
    width: 100%;
    height: 500px;
    display: inline-block;
}

.banner p {
    font-size: 16px;
    font-family: "Crimson Text", sans-serif;
    margin-left: 213px;
    display: inline-block;
    margin-top: 34px;
    color: #ffffff;
}
.banner p:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 900;
    margin-top: 103px;
}
.banner .banner__buy {
    margin-left: 213px;
    margin-top: 64px;
}
.banner .img-iphone {
    float: right;
    margin-right: 310px;
}
/*.banner__slider { !* Не уверена, нужен ли этот див в принципе *!*/
    /*clear: both;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
.banner__next {
    width: 42px;
    height: 42px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0);
    border-radius: 21px;

}
.banner__next img {
    width: 6px;
    height: 10px;
    margin: 8px;
}
.banner__buy {
    width: 165px;
    height: 42px;
    border: 2px solid #2754eb;
    /*box-shadow: 0 20px 40px rgba(168, 173, 187, 0.62);*/
    border-radius: 20px;
    background-color: #2754eb;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
}
.banner__buy:hover {
    box-shadow: 0 20px 40px rgba(168, 173, 187, 0.62);

}